flows.json
[
    {
        "id": "1d31b94f982e390f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8498c513c7831aa1",
        "type": "serial-port",
        "name": "COM2",
        "serialport": "COM2",
        "serialbaud": "9600",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "\\r",
        "responsetimeout": 10000
    },
    {
        "id": "3f5bbd199bdd2150",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "influxdb-v2",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://192.168.100.190:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "86a4a45ce507a9cb",
        "type": "serial in",
        "z": "1d31b94f982e390f",
        "name": "Serial Received Message",
        "serial": "8498c513c7831aa1",
        "x": 190,
        "y": 440,
        "wires": [
            [
                "0b2e126d75bf09df"
            ]
        ]
    },
    {
        "id": "0b2e126d75bf09df",
        "type": "debug",
        "z": "1d31b94f982e390f",
        "name": "Received Mesg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 440,
        "wires": []
    },
    {
        "id": "e2292001a230526c",
        "type": "serial out",
        "z": "1d31b94f982e390f",
        "name": "Send Message",
        "serial": "8498c513c7831aa1",
        "x": 720,
        "y": 680,
        "wires": []
    },
    {
        "id": "3731c02e37576ed3",
        "type": "function",
        "z": "1d31b94f982e390f",
        "name": "prep Resp Messg",
        "func": "msg.payload = \"Received at \" + Date.now() + \" > Mesg: \" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 680,
        "wires": [
            [
                "e2292001a230526c",
                "cbcf8da1835dd8b6"
            ]
        ]
    },
    {
        "id": "cbcf8da1835dd8b6",
        "type": "debug",
        "z": "1d31b94f982e390f",
        "name": "Sent Message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 780,
        "wires": []
    },
    {
        "id": "e21f7ee9cd9912a7",
        "type": "inject",
        "z": "1d31b94f982e390f",
        "name": "SensorMessage",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "X=27.5#Y=57#Z=87#",
        "payloadType": "str",
        "x": 180,
        "y": 240,
        "wires": [
            [
                "abb48cb989189d5d"
            ]
        ]
    },
    {
        "id": "abb48cb989189d5d",
        "type": "split",
        "z": "1d31b94f982e390f",
        "name": "Split By #",
        "splt": "#",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 400,
        "y": 240,
        "wires": [
            [
                "03a4d34f892332c9"
            ]
        ]
    },
    {
        "id": "03a4d34f892332c9",
        "type": "switch",
        "z": "1d31b94f982e390f",
        "name": "Context Sensor",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "^X",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "^Y",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "^Z",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 600,
        "y": 240,
        "wires": [
            [
                "7e824e3e48ada9bf"
            ],
            [
                "4af710177f733fb2"
            ],
            [
                "ee4785a5d3daa6c6"
            ]
        ]
    },
    {
        "id": "68a03af4b45a277b",
        "type": "debug",
        "z": "1d31b94f982e390f",
        "name": "debug X",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 120,
        "wires": []
    },
    {
        "id": "0694cf69b1d399de",
        "type": "debug",
        "z": "1d31b94f982e390f",
        "name": "debug Y",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 220,
        "wires": []
    },
    {
        "id": "99a74e45a7905338",
        "type": "debug",
        "z": "1d31b94f982e390f",
        "name": "debug Z",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 300,
        "wires": []
    },
    {
        "id": "7e824e3e48ada9bf",
        "type": "function",
        "z": "1d31b94f982e390f",
        "name": "getValue",
        "func": "const str = msg.payload;\n//str = str.substring(2,str.length);\nconst arr = str.split(\"=\");\nmsg.payload = parseFloat(arr[1]);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 160,
        "wires": [
            [
                "68a03af4b45a277b",
                "26436e4768ef9acc"
            ]
        ]
    },
    {
        "id": "4af710177f733fb2",
        "type": "function",
        "z": "1d31b94f982e390f",
        "name": "getValue",
        "func": "const str = msg.payload;\n//str = str.substring(2,str.length);\nconst arr = str.split(\"=\");\nmsg.payload = parseFloat(arr[1]);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 240,
        "wires": [
            [
                "0694cf69b1d399de",
                "7041211c74e7c78e"
            ]
        ]
    },
    {
        "id": "ee4785a5d3daa6c6",
        "type": "function",
        "z": "1d31b94f982e390f",
        "name": "getValue",
        "func": "const str = msg.payload;\n//str = str.substring(2,str.length);\nconst arr = str.split(\"=\");\nmsg.payload = parseFloat(arr[1]);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 320,
        "wires": [
            [
                "99a74e45a7905338",
                "ef9db28d5f8523f1"
            ]
        ]
    },
    {
        "id": "7041211c74e7c78e",
        "type": "influxdb out",
        "z": "1d31b94f982e390f",
        "influxdb": "3f5bbd199bdd2150",
        "name": "Insert Presure",
        "measurement": "presure",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "myorg",
        "bucket": "sensor_data",
        "x": 1000,
        "y": 260,
        "wires": []
    },
    {
        "id": "26436e4768ef9acc",
        "type": "influxdb out",
        "z": "1d31b94f982e390f",
        "influxdb": "3f5bbd199bdd2150",
        "name": "Insert Temperature",
        "measurement": "temperature",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "myorg",
        "bucket": "sensor_data",
        "x": 1010,
        "y": 160,
        "wires": []
    },
    {
        "id": "ef9db28d5f8523f1",
        "type": "influxdb out",
        "z": "1d31b94f982e390f",
        "influxdb": "3f5bbd199bdd2150",
        "name": "Insert Humidity",
        "measurement": "humidity",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "myorg",
        "bucket": "sensor_data",
        "x": 1000,
        "y": 360,
        "wires": []
    },
    {
        "id": "d32e5141e3631345",
        "type": "inject",
        "z": "1d31b94f982e390f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 680,
        "wires": [
            [
                "3731c02e37576ed3"
            ]
        ]
    }
]